/***************************************
 * Liste des entreprises 
 * 
 ***************************************/
#company-lists {
	display: inline-flex;
	width: 100%;
	margin: auto;
}

#company-lists h3 {
	margin-bottom: 20px
}

#company-lists h3, .moreentreprise {
	text-align: center;
}

company-list {
	flex: 1;
	max-width: 50%;
}

.company-list {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 2px 4px 8px #ccc;
}

.company-list tr {
	background-color: rgba(96, 125, 139, 0.18);
}

.company-list tr:nth-child(2n) {
	background-color: rgba(96, 125, 139, 0.55);
}

/* Colonne 2 des tableaux => entreprises */
.company-list tr td:nth-child(2n) {
	width: 250px;
}

.company-list td {
	padding: 5px;
}

.moreentreprise {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px dotted #aaa;
}

/***************************************
 *
 * Ajout d'une entreprise 
 *
****************************************/
company-eval form, company-add form {
	border: 1px solid #ccc;
	width: 80%;
	margin: 20px auto;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #ccc;
}

company-add form {
	padding: 15px;
}

company-eval h3, company-add h3 {
	padding: 20px;
	display: block;
	font-size: 150%;
	text-align: center;
}

#ajout_actions {
	clear: both;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

#ajout_actions input {
	padding: 10px;
	margin: 0 20px;
}

.colonne {
	float: left;
	width: 400px;
	margin-bottom: 15px;
	padding: 10px;
}

div.avis-wrapper {
	position: relative;
}

input#avis {
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
	z-index: -1;
	margin-left: 10px;
}